<article *ngIf="locationList" class="w-full ss-main-admin-padding pt-6">
  <header
    class="hidden lg:flex ss-txt-title ss-txt-title--big ss-txt-title--regular justify-content-between align-items-center"
    data-aos="fade-up">
    <section>
      <i class="pi pi-map-marker text-3xl ss-txt--black-lighten mr-2"></i> Sucursales
    </section>
  </header>

  <section class="w-full px-3 lg:px-0 mt-3 lg:mt-0 flex align-items-center justify-content-between gap-3"
    data-aos="fade-up">
    <section class="flex flex-grow-1 border-bottom-1 border-gray-100"></section>
    <button class="ss-button ss-button--primary ss-button--small" (click)="openDetailModal()">
      Agregar
    </button>
  </section>

  <section *ngIf="locationList?.length > 0"
    class="w-full px-3 lg:px-0 flex flex-column flex-wrap lg:flex-row my-4 gap-4" data-aos="fade-up"
    data-aos-delay="200">
    <app-location-card [data]="item" *ngFor="let item of locationList"></app-location-card>
  </section>

  <section class="mt-8">
    <ss-announcement *ngIf="locationList?.length === 0" [iconName]="'pi-map-marker'"
    [text]="'No hay sucursales registradas'" [spin]="false">
  </ss-announcement>
  </section>
</article>

<ss-announcement *ngIf="locationList === null" [iconName]="'pi-spinner'" [text]="'Cargando sucursales'">
</ss-announcement>
