.#{$app-prefix}-admin-sidebar {
  &__logout-button {
    background-color: rgba(var(--#{$app-prefix}-color-red-rgb), 0.1) !important;
    color: var(--#{$app-prefix}-color-red) !important;
  }
}

.#{$app-prefix}-sidebar-menu {
  &__button {
    &--active {
      background-color: rgba(
        var(--#{$app-prefix}-color-primary-rgb),
        0.1
      ) !important;
      color: var(--#{$app-prefix}-color-primary) !important;
      font-weight: bold;

      i {
        color: var(--#{$app-prefix}-color-primary) !important;
      }
    }
  }
}
