<form [formGroup]="form">
  <section class="md:p-3 flex flex-column gap-3">
    <section class="w-full"
      [ngClass]="{'pointer-events-none': user.email}">
      <div class="font-semibold mb-2">
        Correo electrónico
      </div>

      <input class="w-full" type="text" pInputText placeholder="Ingresa un email" formControlName="email" />
    </section>

    <section class="w-full">
      <div class="font-semibold mb-2">
        Nombre
      </div>

      <input class="w-full" type="text" pInputText placeholder="Ingresa un nombre" formControlName="name" />
    </section>

    <section class="w-full">
      <div class="font-semibold mb-2">
        Entidad asociada
      </div>

      <p-dropdown [options]="entityList" optionValue="id" optionLabel="name" formControlName="entityId" class="w-full"
        [filter]="true">
      </p-dropdown>
    </section>

    <section class="w-full">
      <div class="font-semibold mb-2">
        Rol
      </div>

      <p-dropdown [options]="roleList" optionValue="value" optionLabel="name" formControlName="role" class="w-full"
        [placeholder]="'Selecciona un rol'">
      </p-dropdown>
    </section>

    <section class="w-full">
      <div class="font-semibold mb-2">
        Módulos
      </div>

      <p-multiSelect class="w-full" [options]="moduleList" optionLabel="name" display="chip" optionValue="id"
        formControlName="permissions" placeholder="Selecciona módulos">
      </p-multiSelect>
    </section>

    <section class="w-full md:w-3">
      <div class="w-full flex align-items-center justify-content-between font-semibold my-3">
        Permisos

        <i class="pi pi-lock ss-txt--black-lighten mx-3"></i>
      </div>

      <div formGroupName="actions" class="flex flex-column gap-3">
        <div class="w-full flex align-items-center justify-content-between gap-3" *ngFor="let key of getActionKeys()">
          <label class="font-normal">
            {{ getActionLabel(key) }}
          </label>

          <div class="w-full border-top-1 border-black-alpha-10">
          </div>

          <p-inputSwitch [formControlName]="key"></p-inputSwitch>
        </div>
      </div>
    </section>
  </section>
</form>
