<article *ngIf="form" [formGroup]="form" class="account flex flex-column relative">
  <p-accordion class="ss-accordion-information">
    <p-accordionTab [selected]="true">
      <ng-template pTemplate="header">
        <h3 class="ss-txt--primary font-normal">
          Personalización
        </h3>
      </ng-template>

      <ng-template pTemplate="body">
        <section class="flex flex-column gap-5 px-3">
          <section>
            <div
              class="ss-txt-title ss-txt-title--semibold ss-txt--black ss-txt-title--small flex align-items-center mb-2">
              <i class="pi pi-link mr-3 ss-txt--primary text-xl"></i> URL
            </div>

            <section class="w-full flex align-items-center gap-2">
              <span class="ss-txt--black-lighten">
                triblii.web.app/entity/
              </span>

              <input type="text" pInputText class="w-full flex flex-grow-1" placeholder="Ejm: starbucks"
                formControlName="slug" [ngClass]="{ 'p-error': !isSlugAvailable }" 
                [ngClass]="{'pointer-events-none': userDataModel.role === 'MAINTAINER'}"/>
            </section>

            <small *ngIf="form.get('slug')?.hasError('pattern') ||
                          form.get('slug')?.hasError('minlength')" class="p-error block">
              Mínimo 3 caracteres, sin espacios en blanco, solo puede contener minúsculas, números o guiones '_', '-'
            </small>

            <p-messages *ngIf="!isSlugAvailable" [closable]="false" [(value)]="slugMessage"></p-messages>
          </section>

          <color-picker (hideEvent)="changeColor($event)" [customColor]="form.value.color" 
                           [ngClass]="{'pointer-events-none': userDataModel.role === 'MAINTAINER'}">
          </color-picker>

          <section class="w-full">
            <div
              class="ss-txt-title ss-txt-title--semibold ss-txt--black ss-txt-title--small flex align-items-center mb-2">
              <i class="pi pi-eye mr-3 ss-txt--primary text-xl"></i> Aparecer en Triblii
            </div>

            <section class="flex gap-3 pt-1">
              <p-inputSwitch formControlName="isPublic" 
                             [ngClass]="{'pointer-events-none': userDataModel.role === 'MAINTAINER'}">
              </p-inputSwitch>

              <span class="ss-txt--black" *ngIf="!form.value.isPublic">
                No visible
              </span>

              <span class="ss-txt--black" *ngIf="form.value.isPublic">
                Visible
              </span>
            </section>

            <div class="w-full mt-2 ss-txt--black-lighten text-sm">
              Cuando esta opción esta desactivada, la información relacionada a la entidad no aparecerá en la plataforma
              principal de

              <a class="no-underline ss-txt--primary" href="https://shoppystorebo.web.app/stores/all" target="_blank">
                Triblii
              </a>
            </div>
          </section>

          <section *ngIf="userDataModel.role === 'ADMIN' || userDataModel?.role === 'SUPERADMIN'" class="flex justify-content-end">
            <button class="ss-button fadein" [ngClass]="{'ss-button--disabled': form.invalid || !form.touched}"
              [disabled]="form.invalid || !form.touched" (click)="saveForm()">
              Guardar cambios
            </button>
          </section>
        </section>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</article>
