<article class="w-full">
  <section class="flex flex-column gap-4">
    <div class="w-full flex cursor-pointer ss-bg--grey-lighten p-3 border-round-xl" (click)="openResetPasswordModal()">
      <i class="pi pi-key text-xl ss-txt--primary mr-3"></i>

      <span class="ss-txt-body ss-txt--black-lighten">
        Cambiar Contraseña
      </span>
    </div>

    <div *ngIf="userData.role === 'ADMIN'" class="w-full flex cursor-pointer ss-bg--grey-lighten p-3 border-round-xl">
      <i class="pi pi-trash text-xl ss-txt--red mr-3"></i>

      <span class="ss-txt-body ss-txt--black-lighten">
        Eliminar cuenta
      </span>
    </div>
  </section>
</article>
