<section class="w-full fadein animation-duration-500 flex bg-gray-500 border-round-xl h-20rem overflow-hidden relative">
  <div *ngIf="mapId" [id]="mapId" class="h-full w-full z-2"></div>

  <div class="absolute z-3" style="top: 50%; left: 50%; transform: translate(-50%, -100%);">
    <img src="assets/images/pins/location.svg" alt="Marker" style="height: 35px;">
  </div>

  <div *ngIf="isLocked" class="w-full h-full absolute bg-black-alpha-50 z-4 flex justify-content-center align-items-center">
    <button class="ss-button ss-button--small ss-bg--warning ss-txt--white" pButton (click)="unlockMap()">
      Cambiar pin
    </button>
  </div>
</section>