<article class="w-full ss-main-admin-padding pt-6">
  <section class="w-full flex flex-column xl:w-9 xl:mt-0 lg:mx-0 px-2">
    <header
      class="hidden lg:flex ss-txt-title ss-txt-title--big ss-txt-title--regular justify-content-between align-items-center mb-3"
      data-aos="fade-up">
      <section>
        Datos de la cuenta
      </section>
    </header>

    <!-- <section
      class="h-3rem align-items-center justify-content-between ss-bg--primary border-round-xl lg:border-round-3xl overflow-hidden mb-3"
      data-aos="fade-up">
      <section class="w-full h-full flex flex-grow-1 ss-txt--black-lighten">
        <section class="h-full text-lg lg:text-xl px-3 lg:pr-2 flex align-items-center ss-bg--primary ss-txt--white">
          triblii.web.app/
        </section>

        <input class="h-full flex flex-grow-1 ss-txt--black-lighten border-none text-xl px-1" type="text">
      </section>

      <section class="h-full flex align-content-center">
        <button class="ss-button h-full border-noround ss-bg--warning px-3 text-xl">
          Cambiar link
        </button>
      </section>
    </section> -->

    <section data-aos="fade-up" data-aos-delay="200">
      <section class="w-full">
        <p-tabMenu [model]="tabItems" [activeItem]="activeTab" (click)="changeTab($event.target)">
        </p-tabMenu>
      </section>

      <p-card *ngIf="activeTab.label === 'Usuario' && (userDataModel?.entity)"
        styleClass="p-card-shadow border-round-xl lg:w-full mt-3 fadein animation-duration-400">
        <p-accordion class="ss-accordion-information">
          <p-accordionTab [selected]="true">
            <ng-template pTemplate="header">
              <h3 class="ss-txt--primary font-normal">
                Información básica
              </h3>
            </ng-template>

            <ng-template pTemplate="body">
              <section class="flex flex-column gap-5 px-3">
                <p-chip [label]="getRoleString(userDataModel?.role)"
                  styleClass="ss-bg--primary ss-txt--white font-semibold px-3"></p-chip>

                <section>
                  <div
                    class="ss-txt-title ss-txt-title--semibold ss-txt--black ss-txt-title--small flex align-items-center mb-1">
                    <i class="pi pi-id-card mr-2 ss-txt--primary"></i> Nombre
                  </div>

                  <div class="text-xl ss-txt--black-lighten">
                    {{userDataModel?.name}}
                  </div>
                </section>

                <section>
                  <div
                    class="ss-txt-title ss-txt-title--semibold ss-txt--black ss-txt-title--small flex align-items-center mb-1">
                    <i class="pi pi-at mr-2 ss-txt--primary"></i> Correo electrónico
                  </div>

                  <div class="text-xl ss-txt--black-lighten">
                    {{userDataModel?.email}}
                  </div>
                </section>
              </section>
            </ng-template>
          </p-accordionTab>

          <p-accordionTab>
            <ng-template pTemplate="header">
              <h3 class="ss-txt--primary font-normal">
                Acciones críticas
              </h3>
            </ng-template>

            <ng-template pTemplate="body">
              <ss-danger-zone [userData]="userDataModel">
              </ss-danger-zone>
            </ng-template>
          </p-accordionTab>
        </p-accordion>
      </p-card>

      <p-card *ngIf="activeTab.label === 'Entidad' && (userDataModel?.entity)"
        styleClass="border-round-xl lg:w-full mt-3 fadein animation-duration-400">
        <section class="flex align-items-end justify-content-start relative mb-5 gap-3">
          <div>
            <div
              class="ss-txt-title ss-txt-title--semibold ss-txt--black ss-txt-title--small flex align-items-center mb-3">
              <i class="pi pi-image mr-3 ss-txt--primary text-xl"></i> Logo
            </div>

            <div *ngIf="userDataModel?.entity?.photoUrl"
              class="w-7rem h-7rem my-auto ss-bg--grey-lighten fadein flex justify-content-center align-items-center">
              <img class="w-auto h-auto max-h-7rem max-w-7rem my-auto fadein" [src]="userDataModel?.entity?.photoUrl"
                alt="Catalogue photo">
            </div>

            <div *ngIf="!userDataModel?.entity?.photoUrl"
              class="w-7rem h-7rem my-auto ss-bg--grey border-circle overflow-hidden fadein flex justify-content-center align-items-center">
              <i class="pi pi-image ss-txt--black-lighten text-3xl"></i>
            </div>
          </div>

          <div *ngIf="userDataModel?.role === 'ADMIN'" class="w-full flex flex-column align-items-start gap-2">
            <p-fileUpload #inputPhoto mode="basic" accept="image/png, image/webp" [maxFileSize]="1000000"
              chooseIcon="pi pi-camera" chooseLabel="Subir" (onSelect)="uploadPhoto($event)">
            </p-fileUpload>

            <small class="ss-txt--black-lighten">
              Selecciona una imagen en formato PNG ó WEBP.
            </small>
          </div>
        </section>

        <p-divider class="p-divider--grey" styleClass="my-5">
        </p-divider>

        <ss-catalogue-form [userDataModel]="userDataModel" (saveEvent)="updateCatalogueList()"></ss-catalogue-form>
      </p-card>

      <p-card *ngIf="activeTab.label === 'Ajustes' && (userDataModel?.entity) && userDataModel?.role === 'ADMIN'"
        styleClass="p-card-shadow border-round-xl lg:w-full mt-3 fadein animation-duration-400">
        <ss-custom-settings-form [userDataModel]="userDataModel"
          (saveEvent)="updateCatalogueList()"></ss-custom-settings-form>
      </p-card>
    </section>
  </section>
</article>
