<article *ngIf="item" class="w-full h-screen flex flex-column ss-main-admin-padding pt-6 relative">
  <header data-aos="fade-up">
    <section class="w-fit flex align-items-center cursor-pointer px-2 lg:px-0 mt-3 lg:mt-0 pb-3"
      (click)="location.back()">
      <i class="pi pi-angle-left mr-2 text-2xl ss-txt--black-lighten">
      </i>

      <small *ngIf="item.name === ''" class="ss-txt-title ss-txt-title--regular">
        Volver
      </small>

      <small *ngIf="item.name"
        class="max-w-23rem sm:max-w-30rem md:max-w-full overflow-hidden ss-txt-title ss-txt-title--regular text-overflow-ellipsis white-space-nowrap">
        {{ item.name }}
      </small>
    </section>
  </header>

  <section class="w-full sticky z-5 ss-bg--grey-lighten relative top-0" data-aos="fade-up" data-aos-delay="200">
    <section class="w-full flex justify-content-between gap-3">
      <p-tabMenu class="w-full xl:w-9 border-bottom-1 border-black-alpha-10 pl-3 lg:pl-0" [scrollable]="true"
        [model]="tabItems" [activeItem]="activeTab" (click)="changeTab($event)">
      </p-tabMenu>

      <section class="xl:w-3 hidden xl:flex justify-content-end">
        <ng-container
          *ngTemplateOutlet="saveButtonTemplate; context: { isValid: isFormValid(), onClick: saveForm.bind(this) }">
        </ng-container>
      </section>
    </section>
  </section>

  <section class="p-3 pb-8 md:pb-0 lg:px-0 fadein flex-grow-1">
    <section class="w-full flex-column gap-3 hidden" [ngClass]="{ 'flex': activeTab.label === 'Información' }">
      <p-card *ngIf="informationForm" styleClass="p-card-shadow border-round-xl fadein animation-duration-400"
        data-aos="fade-up" data-aos-delay="400">
        <information-form [form]="informationForm" [item]="item">
        </information-form>
      </p-card>
    </section>

    <section *ngIf="optionsForm" class="w-full flex-column gap-3 hidden"
      [ngClass]="{ 'flex': activeTab.label === 'Opciones' }">
      <p-card styleClass="p-card-shadow border-round-xl fadein animation-duration-400">
        <options-form [form]="optionsForm" [item]="item" [moduleId]="moduleId">
        </options-form>
      </p-card>
    </section>

    <section *ngIf="locationForm && userDataModel" class="w-full flex-column gap-3 hidden"
      [ngClass]="{ 'flex': activeTab.label === 'Ubicación' }">
      <p-card styleClass="p-card-shadow border-round-xl fadein animation-duration-400">
        <app-location-form [form]="locationForm" [itemLocation]="item.location"
          [userDataModel]="userDataModel"></app-location-form>
      </p-card>
    </section>

    <section class="w-full flex-column gap-3 hidden" [ngClass]="{ 'flex': activeTab.label === 'Galería' }">
      <p-card *ngIf="galleryForm" styleClass="p-card-shadow border-round-xl fadein animation-duration-400">
        <gallery-form [form]="galleryForm" [item]="item">
        </gallery-form>
      </p-card>
    </section>

    <section class="w-full flex-column gap-3 hidden" [ngClass]="{ 'flex': activeTab.label === 'Comidas' }">
      <p-card *ngIf="foodsForm && userDataModel"
        styleClass="p-card-shadow border-round-xl fadein animation-duration-400" data-aos="fade-up"
        data-aos-delay="400">
        <foods-form [form]="foodsForm" [item]="item" [userDataModel]="userDataModel">
        </foods-form>
      </p-card>
    </section>

    <section class="w-full flex-column gap-3 hidden" [ngClass]="{ 'flex': activeTab.label === 'Horario' }">
      <p-card *ngIf="scheduleForm" styleClass="p-card-shadow border-round-xl fadein animation-duration-400"
        data-aos="fade-up" data-aos-delay="400">
        <schedule-form [form]="scheduleForm" [item]="item" [userDataModel]="userDataModel">
        </schedule-form>
      </p-card>
    </section>

    <section class="w-full flex-column gap-3 hidden" [ngClass]="{ 'flex': activeTab.label === 'Contacto' }">
      <p-card *ngIf="contactForm" styleClass="p-card-shadow border-round-xl fadein animation-duration-400"
        data-aos="fade-up" data-aos-delay="400">
        <contact-form [form]="contactForm" [item]="item" [userDataModel]="userDataModel">
        </contact-form>
      </p-card>
    </section>

    <section class="w-full flex-column gap-3 hidden" [ngClass]="{ 'flex': activeTab.label === 'Servicios' }">
      <p-card *ngIf="servicesForm" styleClass="p-card-shadow border-round-xl fadein animation-duration-400"
        data-aos="fade-up" data-aos-delay="400">
        Services form
        <!-- PENDING -->
      </p-card>
    </section>

    <section class="w-full flex-column gap-3 hidden" [ngClass]="{ 'flex': activeTab.label === 'Fechas' }">
      <p-card *ngIf="datesForm" styleClass="p-card-shadow border-round-xl fadein animation-duration-400"
        data-aos="fade-up" data-aos-delay="400">
        Dates form
        <!-- PENDING -->
      </p-card>
    </section>
  </section>

  <section
    class="w-full ss-bg--grey-lighten xl:hidden sticky left-0 right-0 bottom-0 p-3 lg:px-0 shadow-5 md:shadow-none">
    <ng-container
      *ngTemplateOutlet="saveButtonTemplate; context: { isValid: isFormValid(), onClick: saveForm.bind(this) }">
    </ng-container>
  </section>
</article>

<announcement *ngIf="item === null" [iconName]="'pi-spinner'" [text]="'Cargando'">
</announcement>

<ng-template #saveButtonTemplate let-isValid="isValid" let-onClick="onClick">
  <button *ngIf="itemForm" class="ss-button w-full px-3" [ngClass]="{'ss-button--disabled': isValid}"
    [disabled]="isValid" (click)="onClick()">
    Guardar cambios
  </button>
</ng-template>
