<article class="w-full flex flex-column gap-3 overflow-auto relative">
  <section class="w-full">
    <section class="w-full flex justify-content-between ss-bg--warning py-3 p-2 border-round-lg">
      <section>
        <section class="w-full flex flex-grow-1 gap-2 align-items-center font-semibold">
          <i class="pi pi-map text-lg"></i>
          Ubicación en mapa
          <i *ngIf="location && isLocationMapConfirmed" class="pi pi-check text-xl ss-txt--white"></i>
        </section>
      </section>

      <section *ngIf="!(location && !isLocationMapConfirmed)" (click)="getLocation()"
        class="w-fit flex align-items-center ss-txt--white gap-1 px-3 border-round-xl cursor-pointer ss-bg--black">
        <small class="white-space-nowrap"> 
          Cambiar
        </small>
      </section>
    </section>
  </section>

  <section *ngIf="location && !isLocationMapConfirmed" class="fadein animation-duration-500">
    <section class="fadein animation-duration-500 mb-2">
      <small class="ss-txt--black-lighten">Arrastra el mapa para cambiar la ubicación</small>
    </section>

    <app-location-map #locationMap [latitude]="location.latitude" [longitude]="location.longitude"></app-location-map>

    <section class="w-full pt-2">
      <button class="w-full ss-button ss-button--small ss-button--outline ss-button--outline-grey shadow-none" color="medium" size="small" fill="outline" (click)="confirmLocation()">
        Confirmar ubicación
      </button>
    </section>
  </section>

  <form [formGroup]="locationForm" *ngIf="!(location && !isLocationMapConfirmed)"
    class="w-full flex flex-column gap-4 fadein animation-duration-500">
    <section class="flex flex-column">
      <section class="w-full flex align-items-center justify-content-between overflow-hidden">
        <span class="font-semibold">Dirección</span>

        <i *ngIf="isAddressLoading" class="pi pi-spin pi-spinner ss-txt--primary text-lg mr-1"></i>
      </section>

      <input pInputText type="text" class="w-full"
        placeholder="Av. América y C. Adela Zamudio" formControlName="address" [disabled]="isAddressLoading" />
    </section>

    <section class="flex flex-column">
      <span class="font-semibold">Número casa / departamento</span>

      <input pInputText type="text" class="w-full"
        placeholder="3321 / 9C" formControlName="number" />
    </section>

    <section class="flex flex-column">
      <span class="font-semibold">Referencia / Indicaciones</span>

      <textarea class="w-full max-h-6rem"
                pInputTextarea
                formControlName="reference"
                placeholder="Casa amarilla con rejas negras"
                [rows]="5"></textarea>
    </section>

    <section class="flex flex-column">
      <span class="font-semibold">Número de celular</span>

      <input type="text" pInputText class="w-full"
        formControlName="contact" placeholder="Opcional"/>
    </section>

    <section class="flex flex-column">
      <span class="font-semibold">Tipo de lugar</span>

      <section class="w-full flex align-items-center gap-2 mt-2 flex-nowrap overflow-auto">
        <p-chip [removable]="true" *ngIf="locationType" (click)="removeType()"
          class="ss-chip-location-selected fadein animation-duration-100 cursor-pointer">
          <section class="py-1">
            {{ getLocationTypeText(locationType) }}
          </section>
        </p-chip>

        <p-chip *ngIf="locationType !== 'HOME'" (click)="setLocationType('HOME')" class="cursor-pointer">
          <section class="py-1">Casa</section>
        </p-chip>

        <p-chip *ngIf="locationType !== 'WORK'" (click)="setLocationType('WORK')" class="cursor-pointer">
          <section class="py-1">Trabajo</section>
        </p-chip>

        <p-chip *ngIf="locationType !== 'APARTMENT'" (click)="setLocationType('APARTMENT')" class="cursor-pointer">
          <section class="py-1">Departamento</section>
        </p-chip>

        <p-chip *ngIf="locationType !== 'OTHER'" (click)="setLocationType('OTHER')" class="cursor-pointer">
          <section class="py-1">Otro</section>
        </p-chip>
      </section>
    </section>
  </form>

  <section *ngIf="!(location && !isLocationMapConfirmed)" class="w-full p-1">
    <section class="w-full flex justify-content-end align-items-center">
      <button *ngIf="!edit" class="w-full ss-button"
              [disabled]="locationForm.invalid"
              [ngClass]="{'ss-button--disabled': locationForm.invalid}"
              (click)="saveLocation()">
        Crear
      </button>

      <button *ngIf="edit" class="ss-button"
              [ngClass]="{'ss-button--disabled': locationForm.invalid || !locationForm.touched}"
              [disabled]="locationForm.invalid || !locationForm.touched"
        (click)="editLocation()">
        Guardar
      </button>
    </section>
  </section>
</article>
