<article *ngIf="bannerList" class="w-full h-full ss-main-admin-padding pt-7 lg:pt-6 flex flex-column flex-grow-1">
  <header
    class="w-full flex ss-txt-title ss-txt-title--big ss-txt-title--regular justify-content-between align-items-center px-3 lg:px-0"
    data-aos="fade-up">
    <section class="w-fit">
      <i class="bi bi-tv text-3xl ss-txt--primary mr-2"></i> Banners
    </section>

    <button class="ss-button ss-button--small ss-button--without-shadow ss-button--without-animation"
      (click)="addBanner()">
      <i class="pi pi-plus text-sm mr-2"></i>

      <span class="font-semibold">
        Agregar banner
      </span>
    </button>
  </header>

  <section class="w-full h-full lg:mt-3 px-3 lg:px-0" data-aos="fade-up" data-aos-delay="200">
    <section *ngIf="bannerList.length > 0" data-aos="fade-up" data-aos-delay="600">
      <swiper [config]="swiperConfig" class="overflow-hidden">
        <ng-template swiperSlide *ngFor="let banner of bannerList">
          <section class="w-full flex justify-content-center">
            <section class="w-11 md:w-10 lg:w-9">
              <banner-card [banner]="banner" (bannerDeleted)="updateAfterDelete()"></banner-card>
            </section>
          </section>
        </ng-template>
      </swiper>
    </section>
  </section>
</article>

<announcement *ngIf="bannerList === null" [iconName]="'pi-spinner'" [text]="'Cargando'">
</announcement>
