<article *ngIf="loaderService.show"
         class="w-screen h-full flex align-items-center justify-content-center fixed top-0 right-0 left-0 bg-black-alpha-30"
         style="z-index: 1999; backdrop-filter: blur(4px);">
  <section class="flex flex-column align-items-center">
    <i class="pi pi-spin pi-spinner text-6xl ss-txt--white animation-ease-in-out animation-duration-700"></i>

    <h5 class="ss-txt--white text-2xl font-light mt-3">
      Cargando

      <span *ngFor="let dot of [1,1,1], index as i"
            class="fadein animation-iteration-infinite animation-duration-1000 animation-delay-{{i}}00">
        .
      </span>
    </h5>
  </section>
</article>
