<article class="w-23rem flex flex-column justify-content-between gap-6">
  <section class="w-full flex flex-column justify-content-center align-items-center mb-3">
    <i class="pi pi-lock ss-txt--primary text-6xl mb-3"></i>

    <h4 class="tt-txt-title tt-txt--black font-light text-center">
      Cambiar contraseña
    </h4>
  </section>

  <section class="flex flex-column justify-content-center px-3 lg:px-0">
    <form [formGroup]="resetPasswordForm">
      <span class="p-float-label mb-6">
        <input class="w-full"
               type="text"
               pInputText
               formControlName="email">

        <label>
          Correo electrónico
        </label>

        <small *ngIf="resetPasswordForm.get('email')?.hasError('required') &&
                      resetPasswordForm.get('email')?.touched ||
                      resetPasswordForm.get('email')?.hasError('email')"
               class="p-error block">
          El correo que ingresaste no es válido.
        </small>
      </span>

      <small class="tt-txt--black-lighten">
        Se enviará un correo con un link para cambiar tu contraseña.
      </small>

      <button class="ss-button ss-button--primary w-full mt-3"
              [ngClass]="{'ss-button--disabled': resetPasswordForm.invalid}"
              [disabled]="resetPasswordForm.invalid"
              (click)="recoverPassword()">
        Enviar correo
      </button>
    </form>
  </section>
</article>
