<article class="w-full h-full ss-main-admin-padding pt-7 lg:pt-6 flex flex-column flex-grow-1">
  <header class="w-full flex ss-txt-title ss-txt-title--big ss-txt-title--regular align-items-center px-3 lg:px-0"
    data-aos="fade-up">
    <i class="pi pi-chart-bar text-3xl ss-txt--primary mr-2"></i> Estadísticas
  </header>

  <section class="w-full px-3 lg:px-0" data-aos="fade-up">
    <p class="ss-txt-body mt-3">
      En esta sección podrás encontrar una serie de gráficos e infografías que te ayudarán a comprender de manera visual
      la interacción de los usuarios con tu información.
    </p>

    <section *ngIf="logList?.length > 0" class="w-full flex flex-column gap-3 md:gap-6 my-6 relative">
      <p-accordion class="ss-accordion-information">
        <p-accordionTab [selected]="true">
          <ng-template pTemplate="header">
            <h3 class="ss-txt--primary font-normal">
              Interacciones mensuales
            </h3>
          </ng-template>

          <ng-template pTemplate="body">
            <section class="w-full flex flex-column md:flex-row gap-3 md:gap-6">
              <section class="w-full md:w-4">
                <p-chart type="doughnut" [data]="logsByCurrentMonthData">
                </p-chart>
              </section>
      
              <section class="w-full md:w-8 flex flex-column gap-3 md:gap-6">
                <p-chart class="w-full" type="bar" [data]="logsByCurrentMonthData">
                </p-chart>
              </section>
            </section>
          </ng-template>
        </p-accordionTab>

        <p-accordionTab>
          <ng-template pTemplate="header">
            <h3 class="ss-txt--primary font-normal">
              Interacciones anuales
            </h3>
          </ng-template>

          <ng-template pTemplate="body">
            <section class="w-full flex flex-column md:flex-row gap-3 md:gap-6">
              <section class="w-full md:w-4">
                <p-chart type="pie" [data]="interactionYearData" class="w-full">
                </p-chart>
              </section>
      
              <section class="w-full md:w-8 flex flex-column gap-3 md:gap-6">
                <p-chart class="w-full" type="bar" [data]="logsByActionYearData">
                </p-chart>
              </section>
            </section>
          </ng-template>
        </p-accordionTab>

        <p-accordionTab>
          <ng-template pTemplate="header">
            <h3 class="ss-txt--primary font-normal">
              Interacciones totales
            </h3>
          </ng-template>

          <ng-template pTemplate="body">
            <section class="w-full flex flex-column md:flex-row gap-3 md:gap-6">
              <section class="w-full md:w-4">
                <p-chart type="polarArea" [data]="totalLogsByActionData">
                </p-chart>
              </section>
      
              <section class="w-full md:w-8 flex flex-column gap-3 md:gap-6">
                <p-chart type="bar" [data]="totalLogsByActionData">
                </p-chart>
              </section>
            </section>
          </ng-template>
        </p-accordionTab>
      </p-accordion>
    </section>
  </section>
</article>