<form *ngIf="location" class="w-full" [formGroup]="form">
  <section class="w-full pb-6">
    <p-accordion class="ss-accordion-information">
      <p-accordionTab [selected]="true">
        <ng-template pTemplate="header">
          <h3 class="ss-txt--primary font-normal">
            Información
          </h3>
        </ng-template>

        <ng-template pTemplate="body">
          <section class="w-full flex flex-column gap-4">
            <section class="w-full">
              <div class="font-semibold mb-2">
                Nombre
              </div>

              <input class="w-full" type="text" pInputText placeholder="Ingresa un nombre" formControlName="name" />
            </section>

            <section class="w-full">
              <div class="mb-2 font-semibold">
                Descripción
              </div>

              <textarea class="w-full h-8rem" pInputTextarea formControlName="description"
                placeholder="Ingresa el texto aquí..." [rows]="5"></textarea>
            </section>

            <section class="w-full">
              <div class="font-semibold mb-2">
                Link foto ciudad
              </div>

              <input class="w-full" type="text" pInputText placeholder="Ingresa URL del archivo"
                formControlName="photoUrl" />
            </section>

            <section class="w-full">
              <div class="font-semibold mb-2">
                Link foto bandera
              </div>

              <input class="w-full" type="text" pInputText placeholder="Ingresa URL del archivo"
                formControlName="flag" />
            </section>
          </section>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab>
        <ng-template pTemplate="header">
          <h3 class="ss-txt--primary font-normal">
            Locación
          </h3>
        </ng-template>

        <ng-template pTemplate="body">
          <section class="w-full">
            <div class="font-semibold mb-2">
              País o Ciudad padre
            </div>

            <p-dropdown [options]="locationList" optionValue="id" optionLabel="name" formControlName="parentId"
              class="w-full" [placeholder]="'Seleccionar'" [filter]="true">
            </p-dropdown>
          </section>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab>
        <ng-template pTemplate="header">
          <h3 class="ss-txt--primary font-normal">
            Opciones
          </h3>
        </ng-template>

        <ng-template pTemplate="body">
          <section class="w-full flex flex-column gap-4">
            <div class="w-full flex justify-content-between align-items-center gap-3">
              <strong>Orden</strong>

              <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="order"
                class="w-fit"></p-inputNumber>
            </div>

            <div class="w-full flex justify-content-between align-items-center gap-3">
              <strong>Disponible</strong>

              <p-inputSwitch formControlName="available"></p-inputSwitch>
            </div>

            <div class="w-full flex justify-content-between align-items-center gap-3">
              <strong>Destacado</strong>

              <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
            </div>
          </section>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </section>

  <section class="w-full flex justify-content-end mt-5 fixed bottom-0 right-0 left-0 p-3 bg-white">
    <button class="ss-button fadein w-full" [ngClass]="{'ss-button--disabled': form.invalid || !form.touched}"
      [disabled]="form.invalid || !form.touched" (click)="saveForm()">
      Guardar cambios
    </button>
  </section>
</form>