<article class="w-full flex flex-column gap-3 relative">
  <section class="fadein animation-duration-500">
    <button *ngIf="!location" class="w-full ss-button ss-bg--warning ss-txt--black" (click)="getLocation()">
      <i class="bi bi-pin-map text-lg mr-3"></i>
      Activar ubicación
    </button>

    <app-location-map *ngIf="location" #locationMap [latitude]="location?.latitude" [longitude]="location?.longitude"
      (mapCenterUpdated)="onMapCenterUpdated($event)">
    </app-location-map>
  </section>

  <form [formGroup]="form" *ngIf="location" class="w-full flex flex-column gap-4 fadein animation-duration-500">
    <section *ngIf="userDataModel?.role !== 'MAINTAINER'" class="flex flex-column">
      <section class="w-full flex align-items-center justify-content-between overflow-hidden mb-1">
        <span class="font-semibold">País</span>
      </section>

      <p-dropdown [options]="countries" optionValue="id" optionLabel="name" formControlName="country" class="w-full"
        [filter]="true" placeholder="Seleccionar">
      </p-dropdown>
    </section>

    <section *ngIf="userDataModel?.role !== 'MAINTAINER'" class="flex flex-column">
      <section class="w-full flex align-items-center justify-content-between overflow-hidden mb-1">
        <span class="font-semibold">Ciudad</span>
      </section>

      <p-dropdown [options]="cities" optionValue="id" optionLabel="name" formControlName="city" class="w-full"
        [filter]="true" placeholder="Seleccionar">
      </p-dropdown>
    </section>

    <section *ngIf="userDataModel?.role !== 'MAINTAINER'" class="flex flex-column">
      <section class="w-full flex align-items-center justify-content-between overflow-hidden mb-1">
        <span class="font-semibold">Estado</span>
      </section>

      <p-dropdown [options]="states" optionValue="id" optionLabel="name" formControlName="state" class="w-full"
        [filter]="true" placeholder="Seleccionar">
      </p-dropdown>
    </section>

    <p *ngIf="userDataModel?.role === 'MAINTAINER'">
      {{userDataModel?.entity?.location?.countryIds[0]}},
      {{userDataModel?.entity?.location?.cityIds[0]}},
      {{userDataModel?.entity?.location?.stateIds[0]}}
    </p>

    <section class="flex flex-column">
      <section class="w-full flex align-items-center justify-content-between overflow-hidden">
        <span class="font-semibold">Dirección</span>

        <section>
          <small *ngIf="!isAddressLoading" class="ss-txt--primary cursor-pointer font-italic underline mr-1"
            (click)="reverseGeocode()">
            Obtener dirección
          </small>

          <i *ngIf="isAddressLoading" class="pi pi-spin pi-spinner ss-txt--primary text-lg mr-1"></i>
        </section>
      </section>
      <input pInputText type="text" class="w-full" placeholder="Av. América y C. Adela Zamudio"
        formControlName="address" />
    </section>

    <details>
      <summary class="mb-3 ss-txt--black-lighten cursor-pointer">
        Opcional
      </summary>

      <section class="w-full flex flex-column gap-4">
        <section class="flex flex-column">
          <span class="font-semibold">Número / departamento</span>
          <input pInputText type="text" class="w-full" placeholder="3321 / 9C" formControlName="number" />
        </section>

        <section class="flex flex-column">
          <span class="font-semibold">Referencia / Indicaciones</span>
          <textarea class="w-full max-h-6rem" pInputTextarea formControlName="reference"
            placeholder="Casa amarilla con rejas negras" [rows]="5"></textarea>
        </section>
      </section>
    </details>
  </form>
</article>
