<article *ngIf="itemList"
         class="w-full h-full ss-main-admin-padding pt-7 lg:pt-6 flex flex-column flex-grow-1">
  <header class="w-full flex ss-txt-title ss-txt-title--big ss-txt-title--regular align-items-center px-3 lg:px-0"
          data-aos="fade-up">
    <i class="{{collectionUIData.icon}} text-3xl ss-txt--primary mr-2"></i> {{collectionUIData.label}}
  </header>

  <section class="w-full h-full lg:mt-3 px-3 lg:px-0"
           data-aos="fade-up"
           data-aos-delay="200">
    <items-table [itemList]="itemList"
                 [userData]="userDataModel"
                 [moduleId]="moduleId"
                 [service]="itemsService"
                 (dataChanges)="refreshList()">
    </items-table>
  </section>
</article>

<ss-announcement *ngIf="itemList === null"
                 [iconName]="'pi-spinner'"
                 [text]="'Cargando'">
</ss-announcement>
