//----------------------------------------------------------
// VARIABLES
//----------------------------------------------------------

$app-prefix: 'ss';

$colors: (
  primary: #5558f9,
  secondary: #5558f9,
  black: #4f4f4f,
  black-lighten: #808080,
  grey: #C6C6C6,
  grey-lighten: #f3f3f3,
  grey-lighten-2: #e1e1e1,
  white: #ffffff,
  red: #F37B82,
  green: #6cde97,
  warning: #e0c436,
  blue: #3b3bff
);

:root {
  // Fonts
  --#{$app-prefix}-font-family-title: 'Poppins', sans-serif;;
  --#{$app-prefix}-font-family-text: 'Poppins', sans-serif;;
  --#{$app-prefix}-font-min-vw: 320px;
  --#{$app-prefix}-font-max-vw: 1920px;
  --#{$app-prefix}-font-min-size: 14px;
  --#{$app-prefix}-font-max-size: 20px;

  // Shadows
  --#{$app-prefix}-shadow-lighten: 0 2px 6px 0 #0000001A;
  --#{$app-prefix}-shadow: 0 1px 4px 0 #00000026;
  --#{$app-prefix}-shadow-darken: 0 2px 6px 0 #00000040;
  --#{$app-prefix}-shadow-darken-2: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

  // Main paddings
  --#{$app-prefix}-main-padding: 0 8%;
  --#{$app-prefix}-main-admin-padding: 0 5%;
}

//
// Media Queries
//
@media screen and (max-width: 1200px) {
  :root {
    // Main paddings
    --#{$app-prefix}-main-padding: 0 5%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    // Main paddings
    --#{$app-prefix}-main-padding: 0 3%;
    --#{$app-prefix}-main-admin-padding: 0;
  }
}
