<article *ngIf="userDataModel" class="sm:p-3">
  <section class="w-full">
    <h4>
      País
    </h4>

    <section>
      <p>
        {{userDataModel.entity.location.countryIds}}
      </p>
    </section>
  </section>

  <section *ngIf="userDataModel?.entity?.location?.cityIds" class="w-full mt-5">
    <h4>
      Ciudad
    </h4>

    <section class="mt-2">
      <p>
        {{userDataModel.entity.location.cityIds}}
      </p>
    </section>
  </section>

  <section *ngIf="userDataModel?.entity?.location?.stateIds > 0" class="w-full mt-5">
    <h4>
      Estado
    </h4>

    <section class="mt-2">
      <p>
        {{userDataModel.entity.location.stateIds}}
      </p>
    </section>
  </section>
</article>
